<%- include('./layouts/header.ejs')%> <%
if(user){ %>
<section class="vh-100" style="background-color: #f4f5f7">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-6 mb-4 mb-lg-0">
        <div class="card mb-3" style="border-radius: 0.5rem">
          <div class="row g-0">
            <div class="col-md-16">
              <div class="card-body p-4">
                <div class="row pt-3 text-center">
                  <div class="col-3 mb-3 mr-5">
                    <h6>Question</h6>
                  </div>
                  <div class="col-5 mb-3 mr-5">
                    <h6></h6>
                  </div>
                  <div class="col-4 mb-3 mr-5">
                    <h6>Timer: <b id="timer">30</b></h6>
                  </div>
                </div>
                <hr class="mt-0 mb-4" />
                <div class="row pt-2 text-center">
                  <% for (let i = 0; i < equation.length; i++) { %>
                  <div class="col-1 mb-3">
                    <h6><%=equation.charAt(i)%></h6>
                  </div>
                  <% } %>
                </div>
                <form action="/quiz" method="post" id="quiz-form">
                <div class="row pt-2">
                  <% for (let i = 0; i < answerOptions.length; i++) { %>
                  <div class="ans col-3 mb-4">
                    <label class="radio"> <input class="answers" type="radio" name="ans" value="<%=answerOptions[i]%>"> <span><%=answerOptions[i]%></span>
                    </label>    
                  </div>
                  <% } %>
                </div>
                <hr class="mt-0 mb-4" />
                <div class="row pt-1">
                  <button type="submit" class="btn btn-primary btn-block mb-3">
                    Next
                  </button>
                </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<% }%>
<br>
<script>
    // Timer function
    function startTimer(duration, display) {
    let timer = duration;
    const countdown = setInterval(function () {
      display.textContent = timer;
      timer--;

      if (timer < 0) {
        clearInterval(countdown);
        // submit the form
        document.querySelector('#quiz-form').submit();
      }
    }, 1000);
  }

// The total time for each question in seconds (30 seconds)
const questionTime = 30;
  
// Start the timer on page load
document.addEventListener('DOMContentLoaded', function () {
    const display = document.querySelector('#timer');
    startTimer(questionTime, display);
  });
</script>
</body>
</html>
